<div class="welcome-container">
    <h2>¡Bienvenido a Juegos Increíbles!</h2>
    <p>Descubre una amplia variedad de juegos emocionantes para todas las edades.</p>
    <section>
        <h3>Juego 1: Aventura en el Espacio</h3>
        <p>Embárcate en una emocionante aventura a través del cosmos. ¡Explora planetas desconocidos, lucha contra alienígenas y descubre tesoros ocultos!</p>
        <a href="productos" class="play-button">Comprar Ahora</a>
    </section>
    <section>
        <h3>Juego 2: Carreras Extremas</h3>
        <p>Siente la adrenalina de las carreras más extremas. Conduce a toda velocidad por pistas peligrosas, desafía a tus amigos y alcanza la gloria en el mundo de las carreras.</p>
        <a href="productos" class="play-button">Comprar Ahora</a>
    </section>
    <section>
        <h3>Juego 3: Puzzles Desafiantes</h3>
        <p>Pon a prueba tu mente con nuestros puzzles desafiantes. Resuelve acertijos, encuentra soluciones creativas y alcanza la victoria en este mundo de enigmas.</p>
        <a href="productos" class="play-button">Comprar Ahora</a>
    </section>
</div>